#index {
    background: url('index_background.png') no-repeat center center fixed;
    background-size: cover;
}

@media only screen and (max-width: 768px) {
    #index {
        background: url('index_background_mobile.png') no-repeat center center fixed;
        background-size: cover;
    }

    .btn-secondary {
        margin:0 !important;
        background-color: #F0AD00;
        border: none;
        border: 1px solid white;
    }
    
    .tel {
        margin-left: 0% !important;
    }
    #staff{
        background-image: url('ap_background.png');
        background-size: cover;
    }
    #appointment{
        background-image: url('staff_ackground.png');
        background-size: cover;
    }
}

#staff {
    background-image: url('staff_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}  



#appointment {
    background-image: url('ap_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}  


body {
    font-family: 'Mina', sans-serif;
    font-size: 13pt;
}


footer {
    bottom: 0;
    width: 100%;
    color: black;
    padding: 20px 0;
    margin-top: 150px;
}

.tel {
    margin-left: 50%;
}

.home-icon a {
    color: #2579A2;
    text-decoration: none;
}

.home-icon a:hover {
    color: #F37935;
}

.nav-link,
h5 {
    color: #2579A2;
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
}

.nav-link:hover {
    color: #F37935;
}


.copyright {
    font-size: 12px;
    color: #6c757d;
    text-align: center;
    margin-top: 20px;
}

.bg-image {
    background-image: url('/background.png');
    background-size: cover;
    background-position: center;
}

#about-us>h2 {

    font-size: 50pt;
    font-family: 'Lalezar', cursive;
}

h2{
    font-size: 30pt;
    font-family: 'Lalezar', cursive;

}

#about-us>p {
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    font-size: 20px;
    font-family: 'Mina', sans-serif;
    font-weight: 500;
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
}


.btn {
    padding: 10px 30px;
    font-family: 'Mina';
    font-weight: 700;
    font-size: 16pt;
    border-radius: 10px;
}

.btn-primary {
    background-color: #F37935;
    border: 1px solid white;
}

.btn-primary:hover {
    background-color: #2579A2;
}


.btn-secondary {
    margin-left: 300px;
    background-color: #F0AD00;
    border: none;
    border: 1px solid white;
}

.btn-secondary:hover {
    background-color: #2579A2;
}


.product-img {
    height: 50%;
}

.price {
    font-weight: bold;
}

.card {
    overflow: auto;
    text-overflow: ellipsis;
}

.card-text {
    display: -webkit-box;
    overflow: visible;
    text-overflow: ellipsis;
}

.footer p{
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.select-title {
    font-family: lalezar;
    margin-bottom: 4%;
}   
.service-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.service-item {
    width: 30%;
    font-family: mina;
    font-weight: 700;
    font-size: 3vw;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:10px;
    padding: 20px;
    cursor: pointer;
    color: white;
    margin-bottom: 3%;
}
.service-item:nth-child(odd) {
    background-color: #F37935;
}
.service-item:nth-child(even) {
    background-color: #2579A2;
}
.service-description {
    font-family: mina;
    font-size:15pt;
    border: 6px solid #FFDF8B;
    background-color: #fff;
    color: #000;
    display: none;
    text-align: center;
    border-radius: 15px;
    margin: 0 auto;
    width: 85%;
    padding:40px;   
}
input[type="radio"] {
    display: none;
}
input[type="radio"]:checked + .service-description {
    display: block;
}
.contact-title{
    font-family: lalezar;
    color: #2579a2;
    font-size: 25pt;
}
.contact-info p, .form-label{
    font-family: mina;
    color:#2579a2;
}
.contact-container {
    margin-top: 50px;
    margin-bottom: 5%;
}
.inquiry-form .form-control, .inquiry-form .btn {
    margin-bottom: 15px;
}